/*Pasek nawigacyjny */
.navbar-default{
    background-color: white;
    border-bottom-color: #ff6600;
    background-image: none;
}

.navbar-fixed-bottom {
    border-top-color:#ff6600;
    padding-top :10px;
    color:#333;
}

/* Panel podstawowy*/
.panel-primary > .panel-heading {
    color: black;
    background-color: white;
    border-color: #f06000;
}

.panel-primary {
    border-color: #f06000;
}

    .panel-primary > .panel-heading {
        background-image: none;
    }

.sm-text-dark-grey {
    /*color: #333;*/
    font-size:medium;
    font-weight: bold;

}

.sm-text-dark-grey-footer {
    /*color: #777;*/
    color:#333;
    font-size:small;
    font-weight: bold;
}

.sm-text-light-blue {
    color: #1cb3f4;
}

.btn-sm-orange,
.btn-sm-orange {
    background-color: #f06000;
    border-color: #f06000;
    color: white;
}

    .btn-sm-orange:hover,
    .btn-sm-orange:focus,
    .btn-sm-orange:active,
    .btn-sm-orange.active,
    .btn-sm-orange:hover {
        background-color: #f87018;
        border-color: #f87018;
        color: white;
    }

 /*Nadpisanie stylów bootsrapowowych*/
 .tooltip-inner {
  background-color: white;
      /*#337ab7;*/
  color: black;
  font-weight:normal;
  border:1px solid black !important;
}
.tooltip .tooltip-arrow {
  border-bottom-color: white;
}

/* Nadpisuje style primeng*/
.ui-datatable .ui-datatable-thead>tr>th, .ui-datatable .ui-datatable-tfoot>tr>td, .ui-datatable .ui-datatable-data>tr>td {
   /*border-style: 0px 0 !important;*/
    border-style: none !important;
    border-left: 1px solid #ccc !important;
}
.ui-multiselect .ui-multiselect-label {
    font-size:smaller;
}

.ui-datatable-scrollable-body {
      overflow-y: scroll !important;
}

/*Nadpisuje style wybierania kolumn*/
/*Tło*/
.ui-widget-header .ui-state-highlight, .ui-widget-content .ui-state-highlight, .ui-state-highlight {
  background: slategrey !important;
}

/*Checkobxy*/
.ui-chkbox-box.ui-state-active, .ui-radiobutton-box.ui-state-active {
     border:  1px solid slategrey !important;
     background: white !important;
     color:#555555 !important;
}

/*Wielkość czcionek*/
li > div + label {
font-weight: normal;
}

