li {
    font-size: large;
}

div.panel-heading {
    font-size: x-large;
}

html, body {
    height: 100%;
}

.fill {
    min-height: 80%;
    height: 80%;
}

/*.map {
    height: 85%;
    min-height: 85%;
    display: block;
}*/

.map {
    height: 800px;
    min-height: 800px;
    display: block;
}

.tablecontainer {
    width: 100%;
    overflow: hidden;
}


tr {
    display: block;
}

th {
    color: white;
    background-color: slategrey;
}


th {
    vertical-align: text-top !important;

}

table {
    border-collapse: collapse; /* IE7 and lower */
    border-spacing: 0; 
    margin-bottom:5px !important;  /*nadpisuje bootstrapowy styl 20px*/
}


th:first-child {
    border-radius: 5px 0 0 0;
    border-left: 0px;
}

th:last-child {
    border-radius: 0 5px 0 0;
}

th:only-child{
    border-radius: 6px 6px 0 0;
}

td,th {
    border-left: 1px solid #ccc;
}

tr:last-child {
    border-bottom: 1px solid #ccc;
}


tbody {
    display: block;
    height: 500px;
    overflow-y: auto;
    overflow-x: hidden;
}

.btn-psz-gray,
.btn-psz-filter {
    background-color: #ddd;
    border-color: #ddd;
    color: #000;
}

    .btn-psz-gray:hover,
    .btn-psz-gray:focus,
    .btn-psz-gray:active,
    .btn-psz-gray.active,
    .btn-psz-filter:hover {
        background-color: #d0d0d0;
        border-color: #c4c4c4;
        color: #000;
    }


.smap-check-btn2 {
    min-width: 200px;
    text-align: left;
}


.btn-psz-blue {
    background-color: #1468B2;
    border-color: #1468B2;
    color: #fff;
}

    .btn-psz-blue:hover,
    .btn-psz-blue:focus,
    .btn-psz-blue:active,
    .btn-psz-blue.active {
        background-color: #115b9b;
        border-color: #0f4d84;
        color: #fff;
    }

.btn-psz-green {
    background-color: #189A46;
    border-color: #189A46;
    color: #fff;
}

    .btn-psz-green:hover,
    .btn-psz-green:focus,
    .btn-psz-green:active,
    .btn-psz-green.active {
        background-color: #15843c;
        border-color: #116e32;
        color: #fff;
    }
