html, body {
    height: 100%;
}

div.panel-heading {
    font-size: x-large;
}

th {
    color: white !important; /* nadpisanie primeng*/
    background-color: slategrey !important; /* #333f48 #0b77a7  nadpisanie primeng*/
    vertical-align: text-top !important;
}

    th:first-child {
        border-radius: 8px 0 0 0;
        border-left: 0px;
    }

    th:last-child {
        border-radius: 0 8px 0 0;
    }

    th {
     white-space: nowrap;  
     height:50px;
}

td, th {
    border-left: 1px solid #ccc;
}

tr:last-child {
    border-bottom: 1px solid #ccc;
}

td:last-child {
    border-right: 1px solid #ccc !important;
}

.sm-check-btn2 {
    min-width: 200px;
    text-align: left;
}

/*
   Pasek nawigacyjny
*/

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:focus, .navbar-default .navbar-nav > .active > a:hover {
    color: white;
    background-color: #f87018;
}

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .open > a {
    /* background-image: -webkit-linear-gradient(top,#dbdbdb 0,#e2e2e2 100%); */
    background-image: -o-linear-gradient(top,#dbdbdb 0,#e2e2e2 100%);
    /* background-image: -webkit-gradient(linear,left top,left bottom,from(#dbdbdb),to(#e2e2e2)); */
    background-image: none;
}

.btn-psz-blue {
    background-color: #1cb3f4; 
    border-color: #1cb3f4;
    color: #fff;
}

    .btn-psz-blue:hover,
    .btn-psz-blue:focus,
    .btn-psz-blue:active,
    .btn-psz-blue.active {
        background-color: #0ba8eb;
        border-color: #0ba8eb;
        color: #fff;
    }

.btn-psz-blue-locked {
    background-color: #1cb3f4;
    border-color: #1cb3f4;
    color: #fff;
}


.btn-sm-font-small{
    font-size:small !important;
}


.btn-psz-green {
    background-color: #189A46;
    border-color: #189A46;
    color: #fff;
}

    .btn-psz-green:hover,
    .btn-psz-green:focus,
    .btn-psz-green:active,
    .btn-psz-green.active {
        background-color: #15843c;
        border-color: #116e32;
        color: #fff;
    }


/*@media (max-height: 648px) {
  tbody {
       height: 200px;
  }
}

@media (min-height: 649px) {
    tbody {
        height: 300px;
    }
}*/
