
<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-left">
                <li><a [routerLink]="['/serviceTnt']">Mapa Serwisowa</a></li>
                <li *ngIf="isSuperUser"><a [routerLink]="['/userlist']">Lista Użytkowników</a></li>
                <!--<li *ngIf="isSuperusers"><a [routerLink]="['/welcome']">Konta Użytkowników[queryParams]="{ _id:0 }</a></li>-->
                 <li *ngIf="isSuperUser"><a [routerLink]="['/adduser']" [queryParams]="{ _id:0 }">Dodaj Użytkownika</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li ><a>Wyloguj</a></li>
            </ul>
        </div>
    </div>
</nav>
<div class="container fill">
    <router-outlet></router-outlet>
</div>