li {
    font-size: large;
}

div.panel-heading {
    font-size: x-large;
}

html, body {
    height: 100%;
    background-color: #f7f7f7;
}

.table-responsive {
    border-radius: 5px 5px 0 0;
    border: 1px solid slategrey;
}

table {
    border-collapse: collapse; /* IE7 and lower */
    border-spacing: 0;
    margin-bottom: 0px !important; /*nadpisuje bootstrapowy styl 20px*/
}

th {
    color: white;
    background-color: slategrey;
    vertical-align: text-top !important;
}

    th:first-child {
        border-radius: 5px 0 0 0;
        border-left: 0px;
    }

    th:last-child {
        border-radius: 0 5px 0 0;
    }

tbody {
    display: block;
    overflow-x: hidden;
    background-color: white;
}

tr {
    display: block;
}

td, th {
    border-left: 1px solid #ccc;
}

tr:last-child {
    border-bottom: 1px solid #ccc;
}

td:last-child {
    border-right: 1px solid #ccc;
}

.smap-check-btn2 {
    min-width: 200px;
    text-align: left;
}

.control-label{
color: #777 !important;
}

/*.btn-primary {
    color: #fff;
    background-color: #f06000;
    border-color: #f06000;
}

    .btn-primary:hover {
        color: #fff;
        background-color: #f87018;
        border-color: #f87018;
    }

    .btn-primary:active {
        color: #fff;
        background-color: #f06000 !important;
        border-color: #f87018 !important;
    }*/


.table-responsive {
    overflow-y: hidden !important;
}

/*
   Pasek nawigacyjny
*/

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:focus, .navbar-default .navbar-nav > .active > a:hover {
    color: white;
    background-color: #f87018;
}

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .open > a {
    /* background-image: -webkit-linear-gradient(top,#dbdbdb 0,#e2e2e2 100%); */
    background-image: -o-linear-gradient(top,#dbdbdb 0,#e2e2e2 100%);
    /* background-image: -webkit-gradient(linear,left top,left bottom,from(#dbdbdb),to(#e2e2e2)); */
    background-image: none;
}

/* Panel podstawowy*/
.panel-primary > .panel-heading {
    color: #777;
    background-color: white;
    border-color: #f06000;
}

.panel-primary {
    border-color: #f06000;
}

    .panel-primary > .panel-heading {
        background-image: none;
    }


.btn-sm-orange,
.btn-sm-orange {
    background-color: #f06000;
    border-color: #f06000;
    color: white;
}

    .btn-sm-orange:hover,
    .btn-sm-orange:focus,
    .btn-sm-orange:active,
    .btn-sm-orange.active,
    .btn-sm-orange:hover {
        background-color: #f87018;
        border-color: #f87018;
        color: white;
    }



/*Na razie nie potrzebne jest*/

.btn-psz-blue {
    background-color: #1cb3f4;
    border-color: #1cb3f4;
    color: #fff;
}

    .btn-psz-blue:hover,
    .btn-psz-blue:focus,
    .btn-psz-blue:active,
    .btn-psz-blue.active {
        background-color: #0ba8eb;
        border-color: #0ba8eb;
        color: #fff;
    }

.btn-psz-blue-locked {
    background-color: #1cb3f4;
    border-color: #1cb3f4;
    color: #fff;
}

/*.btn-psz-blue-locked:hover,
    .btn-psz-blue-locked:focus
   
 {
        background-color: #0ba8eb;
        border-color: #0ba8eb;
        color: #fff;
    }*/



.btn-psz-green {
    background-color: #189A46;
    border-color: #189A46;
    color: #fff;
}

    .btn-psz-green:hover,
    .btn-psz-green:focus,
    .btn-psz-green:active,
    .btn-psz-green.active {
        background-color: #15843c;
        border-color: #116e32;
        color: #fff;
    }


/*@media (max-height: 648px) {
  tbody {
       height: 200px;
  }
}

@media (min-height: 649px) {
    tbody {
        height: 300px;
    }
}*/
