<div class="panel panel-primary">
    <div class="panel-heading">
       {{pageTitle}}
    </div>
    <div class="panel-body">
        <form class="form-horizontal"
              novalidate
              (ngSubmit)="save(signupForm)"
              [formGroup]="userForm">
            <fieldset>

                    <div class="form-group" [ngClass]="{'has-error': emailMessage}">
                        <label class="col-md-2 control-label"
                               for="emailId">Email</label>
                        <div class="col-md-8">
                            <input autocomplete="off"
                                   class="form-control"
                                   id="emailId"
                                   type="email"
                                   placeholder="Email (wymagane)"
                                   formControlName="email"
                                   maxlength="250" 
                                   />
                            <span class="help-block" *ngIf="emailMessage">
                                {{ emailMessage }}
                            </span>
                        </div>
                    </div>
                    <div class="form-group" [ngClass]="{'has-error': passwordMessage}">
                        <label class="col-md-2 control-label"
                               for="passwordId">Hasło</label>
                        <div class="col-md-8">
                            <div class="input-group">
                                <input class="form-control"
                                       autocomplete="off"
                                       id="passwordId"
                                       type={{inputType}}
                                       placeholder="Hasło (wymagane)"
                                       formControlName="password"
                                       maxlength="12" />
                                <span (mousedown)="onEyeEvent($event)"
                                      (mouseup)="onEyeEvent($event)"
                                      (mouseleave)="onEyeEvent($event)"
                                      class="input-group-addon btn"><i class="fa fa-eye fa-1x"></i></span>
                            </div>
                            <span class="help-block" *ngIf="passwordMessage">
                                {{ passwordMessage }}
                            </span>
                        </div>
                    </div>

                <div class="form-group" *ngIf="!userForm.get('isSuperUser').value"
                     [ngClass]="{'has-error': (userForm.get('numOfReqstPerDay').touched
                                              || userForm.get('numOfReqstPerDay').dirty) &&
                                              !userForm.get('numOfReqstPerDay').valid }">
                    <label class="col-md-2 control-label"
                           for="numOfReqstPerDayId">Liczba zapytań</label>
                    <div class="col-md-8">
                        <input class="form-control"
                               id="numOfReqstPerDayId"
                               type="text"
                               placeholder="Liczba zapytań w dniu (wymagane)"
                               formControlName="numOfReqstPerDay"
                               maxlength="4" />
                        <span class="help-block" *ngIf="(userForm.get('numOfReqstPerDay').touched
                                                         || userForm.get('numOfReqstPerDay').dirty) &&
                                                         userForm.get('numOfReqstPerDay').errors">
                            <span *ngIf="userForm.get('numOfReqstPerDay').errors.range">
                                Wprowadź wartość z przedziału od 1 do 1000
                            </span>
                        </span>
                    </div>
                </div>


                <div class="form-group">
                    <div class="col-md-offset-2 col-md-3">
                        <label class="btn btn-primary check-btn-ms">
                            <input id="isSuperUserId"
                                   type="checkbox"
                                   formControlName="isSuperUser" />
                            Konto użytkownika TNT
                        </label>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-3">
                        <label class="btn btn-primary check-btn-ms">
                            <input id="isLockedId"
                                   type="checkbox"
                                   formControlName="isLocked" />
                            Konto zablokowane
                        </label>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-offset-9">
                        <span>
                            <button class="btn btn-primary"
                                    type="submit"
                                    [disabled]="!userForm.valid">
                                Zapisz
                            </button>
                        </span>
                    </div>
                </div>
            </fieldset>
        </form>
    </div>
</div>
<br>Dirty: {{ userForm.dirty }}
<br>Touched: {{ userForm.touched }}
<br>Valid: {{ userForm.valid }}
<br>Value: {{ userForm.value | json }}
