<div [ngBusy]="{busy: busyIndicator}"></div>
<div class="form-inline">
    <div class="panel panel-primary">
        <div class="panel-heading">
            <div class="form-group">
                <div>
                    <label for="pesel" style="font-size:small;">Podaj </label>
                    <input class="form-control"
                           type="text"
                           autocomplete="off"
                           focus="true"
                           placeholder="Email"
                           [(ngModel)]="email" 
                           (keyup.enter)="onSearchUsers()"/>
                </div>
            </div>
            <div class="form-group">
                <div>
                    <label class="btn btn-psz-filter">
                        <input id="isLockedId"
                               type="checkbox"
                               [(ngModel)]="showLockedOnly" />
                        Pokaż konta zablokowane
                    </label>
                </div>
            </div>
            <!--TODO-->
            <!--[routerLink]="['/userlist']"
            [queryParams]="{email:email, showLockedOnly:showLockedOnly }"-->
            <button name="searchBtn"
                    class="btn btn-sm-orange"
                    (click)='onSearchUsers()'>
                <i class="fa fa-search fa-1x"></i> &nbsp;&nbsp;Szukaj
            </button>
        </div>
    </div>
</div>

<p-dataTable [value]="users"
             scrollable="true" scrollHeight="450px" scrollWidth="100%;"
             [rows]="25" [paginator]="true" [pageLinks]="8" [rowsPerPageOptions]="[10,25,50]"           
             [globalFilter]="gb" #dt>
    <p-column field="email" 
              header="Email"
               [filter]="true" 
               [style]="{'width':'270px'}" 
               [sortable]="true"
              filterPlaceholder="Szukaj"></p-column>


    <p-column *ngFor="let col of cols"
              [field]="col.field"
              [header]="col.header"
              [sortable]="true"
              [style]="col.field=='email'?{'width':'270px'}:
              col.field=='isSuperUser'?{'width':'180px'}:
              col.field=='isLocked'?{'width':'180px'}:{'width':'150px'}">
    
        <!--<span *ngIf="col.field=='isLocked'">

            <template let-col let-user="rowData" pTemplate="body">
                <span *ngIf="user[col.field]"><i class="fa fa-check-square-o fa-1x" aria-hidden="true"></i></span>
                <span *ngIf="!user[col.field]"><i class="fa fa-square-o fa-1x" aria-hidden="true"></i></span>
            </template>
        </span>-->

    </p-column>
    <p-column field="isSuperUser" header="Konto użytkownika TNT" [filter]="true" [style]="{'overflow':'visible','width':'180px'}" filterMatchMode="equals"  [sortable]="true">
        <template pTemplate="filter" let-col>
            <p-dropdown [options]="checkSelector" appendTo="body" [style]="{'width':'100%'}" (onChange)="dt.filter($event.value,col.field,col.filterMatchMode)" styleClass="ui-column-filter"></p-dropdown>
        </template>
        <template let-col let-user="rowData" pTemplate="body">
            <span *ngIf="user[col.field]"><i class="fa fa-check-square-o fa-1x" aria-hidden="true"></i></span>
            <span *ngIf="!user[col.field]"><i class="fa fa-square-o fa-1x" aria-hidden="true"></i></span>
        </template>
    </p-column>

    <p-column field="isLocked" header="Konto zablokowane" [filter]="true" [style]="{'overflow':'visible','width':'180px'}"  filterMatchMode="equals"  [sortable]="true">
        <template pTemplate="filter" let-col>
            <p-dropdown [options]="checkSelector" appendTo="body" [style]="{'width':'100%'}" (onChange)="dt.filter($event.value,col.field,col.filterMatchMode)" styleClass="ui-column-filter"></p-dropdown>
        </template>
        <template let-col let-user="rowData" pTemplate="body">
            <span *ngIf="user[col.field]"><i class="fa fa-check-square-o fa-1x" aria-hidden="true"></i></span>
            <span *ngIf="!user[col.field]"><i class="fa fa-square-o fa-1x" aria-hidden="true"></i></span>
        </template>
    </p-column>

    <p-column header="Edycja" [style]="{'width':'150px'}">
        
            <template let-user="rowData" pTemplate="body">
            <button class="btn btn-psz-blue btn-xs"
                    (click)="onSelectUser(user)">
                Edytuj
            </button>

        </template>
        </p-column>

</p-dataTable>
