<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>TNT Polska | Mapa Serwisowa</title>

    <link rel="stylesheet" asp-href-include="lib/bootstrap/dist/css/*min.css" />
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.min.js"></script>
    <link rel="stylesheet" asp-href-include="lib/font-awesome/css/font-awesome.css" />


    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
    <!--Potrzebne dla popovera-->
    <script src="~/lib/sm-common/sm-common.js"></script>
    <style>
        /*wymgane przez navbar-fixed-bottom*/
        body {
            padding-bottom: 70px;
        }

        li {
            font-size: large;
        }
    </style>
</head>
<body>
    @*<div class="panel panel" style="background-color:white; border-bottom-color:darkorange;">
            <div class="panel-heading" style="margin-left:15px; vertical-align:middle;">
                <div class="row">
                    <h3 style="color:slategrey">
                        <a href="http://www.tnt.com/express/pl_pl/site/home.html">
                            <img src="~/app/assets/images/logo.svg" alt="TNT" style="width: 98px; height: 35px;" />
                        </a>  Mapa Serwisowa
                        <a class="btn btn-lg">Zaloguj</a>
                    </h3>


                </div>
            </div>
        </div>
        <div>*@

    <div>
        <nav class="navbar navbar-default" style="background-color:white; border-bottom-color:darkorange;">
            <div class="container-fluid">
                <!--  <div class="navbar-collapse collapse">-->
                <div class="navbar-header">
                    <a class="navbar-brand" href="http://www.tnt.com/express/pl_pl/site/home.html">
                        <img alt="TNT" src="~/app/assets/images/logo.svg" style="width: 98px; height: 35px;" />
                    </a>
                </div>
                <ul class="nav navbar-nav">
                    <li style="color:slategrey; white-space:nowrap" class="navbar-text">
                        Mapa Serwisowa
                    </li>
                </ul>
                <ul class="navbar-right">
                    <li class="btn btn-lg">
                        <a href="@Url.Action("Login","Account",new { returnUrl=""})">Zaloguj</a>
                    </li>
                </ul>
            </div>
        </nav>
    </div>



    @RenderBody()
    @RenderSection("scripts", required: false)

    <environment names="Development">
        @* TODO *@
    </environment>
    <footer class="navbar navbar-default navbar-fixed-bottom text-center">
        <div class="container-fluid">
            <p class="text-muted">TNT Express Worldwide (Poland) sp. z o.o. &copy; 2017 - Mapa Serwisowa 1.0.0 </p>
        </div>
    </footer>
</body>
</html>
