<div [ngBusy]="{busy: busyIndicator}"></div>
        <div class="form-inline">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <div class="form-group">
                        <div>
                            <label for="pesel" style="font-size:medium;">Podaj </label>
                            <input class="form-control"
                                   type="text"
                                   autocomplete="off"
                                   focus="true"
                                   placeholder="Kod pocztowy"
                                   [(ngModel)]="postCode" />
                        </div>
                    </div>
                    <div class="form-group">
                        <div>
                            <label for="cardNumber" style="font-size:medium">lub</label>
                            <input class="form-control"
                                   type="text"
                                   autocomplete="off"
                                   placeholder="Nazwa miasta"
                                   [(ngModel)]="cityName" />
                        </div>
                    </div>
                    <button name="searchBtn"
                            class="btn btn-psz-gray"
                            (click)='onSearchService()'
                            autofocus>
                        <i class="fa fa-search fa-1x"></i> &nbsp;&nbsp;Szukaj
                    </button>
                </div>
            </div>
        </div>

        <!--<div class="row">
            <div class="col-md-6">
                {{listFilter}}
            </div>
        </div>-->
        <div class="tablecontainer">
            <div class="table-responsive sm-max-height">
                <table class="table table-hover table-striped table-condensed sm-max-height">
                    <thead>
                        <tr>
                            <th>Depot code 1a</th>
                            <th style="min-width:350px;">Town</th>
                            <th>From Postcode</th>
                            <th>To Postcode</th>
                            <th>Sobota</th>

                            <th>EX9</th>
                            <th>EX10</th>
                            <th>EX12</th>
                            <th>Priority</th>
                            <th class="sm-break-th">Wieczorne<br>dostarczenie</th>
                            <th class="sm-break-th">Standard<br>Delivery OD</th>
                            <th class="sm-break-th">Standard<br>Delivery DO</th>
                            <th class="sm-break-th">Pick up<br>domestic zgl</th>
                            <th style="min-width:200px; white-space:pre">DateTimePick up<br>eksport sm zgl</th>
                            <th style="min-width:200px; white-space:pre">Samochod z winda<br>dostepny w standardzie</th>

                            <th class="sm-break-th">Diplomat next<br>day</th>
                            <th class="sm-break-th">Serwis<br>podmiejski</th>
                            <th style="white-space:pre">Pick up domestic<br>czas</th>
                            <th style="white-space:pre">Pick up eksport<br>sm czas</th>
                            <th class="sm-last-th-with">Serwis miejski</th>
                        </tr>
                    </thead>
                    <!--*ngIf="servicesTnt && servicesTnt.length"-->
                    <tbody  class="sm-max-height">
                        <tr *ngFor="let serviceTnt of servicesTnt | productFilter : listFilter">
                            <td>

                                <a (click)="onClick(serviceTnt.depotCode, lgModal)">
                                    {{serviceTnt.depotCode}}
                                </a>
                                <!--<a [routerLink]="['/serviceTnt',serviceTnt.productId]">
                                    {{serviceTnt.depotCode}}
                                </a>-->
                            </td>
                            <td style="min-width:350px;max-width:350px;">{{serviceTnt.town}}</td>
                            <td>{{serviceTnt.fromPostcode | lowercase}}</td>
                            <td>{{serviceTnt.toPostcode}}</td>

                            <td>
                                <span *ngIf="serviceTnt.sobota"><i class="fa fa-check-square-o fa-1x" aria-hidden="true"></i></span>
                                <span *ngIf="!serviceTnt.sobota"><i class="fa fa-square-o fa-1x" aria-hidden="true"></i></span>
                            </td>

                            <td>
                                <span *ngIf="serviceTnt.ex9"><i class="fa fa-check-square-o fa-1x" aria-hidden="true"></i></span>
                                <span *ngIf="!serviceTnt.ex9"><i class="fa fa-square-o fa-1x" aria-hidden="true"></i></span>
                            </td>
                            <td>
                                <span *ngIf="serviceTnt.ex10"><i class="fa fa-check-square-o fa-1x" aria-hidden="true"></i></span>
                                <span *ngIf="!serviceTnt.ex10"><i class="fa fa-square-o fa-1x" aria-hidden="true"></i></span>
                            </td>
                            <td>
                                <span *ngIf="serviceTnt.ex12"><i class="fa fa-check-square-o fa-1x" aria-hidden="true"></i></span>
                                <span *ngIf="!serviceTnt.ex12"><i class="fa fa-square-o fa-1x" aria-hidden="true"></i></span>
                            </td>

                            <td>{{serviceTnt.priority}}</td>
                            <td class="sm-break-td">
                                <span *ngIf="serviceTnt.wieczorneDostarczenie"><i class="fa fa-check-square-o fa-1x" aria-hidden="true"></i></span>
                                <span *ngIf="!serviceTnt.wieczorneDostarczenie"><i class="fa fa-square-o fa-1x" aria-hidden="true"></i></span>
                            </td>

                            <td class="sm-break-td">{{serviceTnt.standardDeliveryOd}}</td>
                            <td class="sm-break-td">{{serviceTnt.standardDeliveryDo}}</td>
                            <td class="sm-break-td">{{serviceTnt.pickUpDomesticZgl}}</td>
                            <td style="min-width:200px;">{{serviceTnt.dateTimePickUpEksportSmZgl}}</td>
                            <td style="min-width:200px;">
                                <span *ngIf="serviceTnt.samochodZwindaDostepnyWstandardzie"><i class="fa fa-check-square-o fa-1x" aria-hidden="true"></i></span>
                                <span *ngIf="!serviceTnt.samochodZwindaDostepnyWstandardzie"><i class="fa fa-square-o fa-1x" aria-hidden="true"></i></span>
                            </td>

                            <td class="sm-break-td">{{serviceTnt.diplomatNextDay}}</td>
                            <td class="sm-break-td">
                                <span *ngIf="serviceTnt.serwisPodmiejski"><i class="fa fa-check-square-o fa-1x" aria-hidden="true"></i></span>
                                <span *ngIf="!serviceTnt.serwisPodmiejski"><i class="fa fa-square-o fa-1x" aria-hidden="true"></i></span>
                            </td>
                            <td>{{serviceTnt.pickUpDomesticCzas}}</td>
                            <td>{{serviceTnt.pickUpEksportSmCzas}}</td>
                            <td>
                                <span *ngIf="serviceTnt.serwisMiejski"><i class="fa fa-check-square-o fa-1x" aria-hidden="true"></i></span>
                                <span *ngIf="!serviceTnt.serwisMiejski"><i class="fa fa-square-o fa-1x" aria-hidden="true"></i></span>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <page-app *ngIf='servicesTnt && servicesTnt.length && paging.pageSize>1'
                  [totalCount]='paging.totalCount'
                  [pageSize]='paging.pageSize'
                  (pageClicked)='onPageClicked($event)'>
        </page-app>

<lg-modal #lgModal [myheader]="' '">
    <depot-details [depotsTnt]='depotTnt'></depot-details>
</lg-modal>

