<div [ngBusy]="{busy: busy}"></div>
<div class="panel panel-primary map">
    <!--style="background-color: #f3f3f3"-->
    <div class="panel-heading">
        {{pageTitle}}
    </div>
    <div class="panel-body map">
        <div class="form-inline">
            <div class="container container-in-form-psz col-md-12">
                <div class="form-group" haspermission="PersonalDataVisibilityPerm">
                    <div>
                        <label for="pesel">Podaj </label>
                        <input class="form-control"
                               type="text"
                               autocomplete="off"
                               focus="true"
                               placeholder="Kod pocztowy"
                               [(ngModel)]="postCode" />
                    </div>
                </div>
                <div class="form-group">
                    <div>
                        <label for="cardNumber">lub</label>
                        <input class="form-control"
                               type="text"
                               autocomplete="off"
                               placeholder="Nazwa miasta"
                               [(ngModel)]="cityName" />
                    </div>
                </div>
                <button name="searchBtn"
                        class="btn btn-psz-gray"
                        (click)='onSearchService()'>
                    <i class="fa fa-search fa-1x"></i> &nbsp;&nbsp;Szukaj
                </button>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6">
                {{listFilter}}
            </div>
        </div>
        <div class="tablecontainer">
            <div class="table-responsive ">

                <table class="table table-bordered table-striped table-condensed table-fixed " *ngIf="servicesTnt && servicesTnt.length" >
                    <thead>
                        <tr>
                            <th>Depot code 1a</th>
                            <th style="min-width:350px;">Town</th>
                            <th>From Postcode</th>
                            <th>To Postcode</th>
                            <th>Sobota</th>

                            <th>EX9</th>
                            <th>EX10</th>
                            <th>EX12</th>
                            <th>Priority</th>
                            <th>Wieczorne dostarczenie</th>

                            <th>Standard Delivery OD</th>
                            <th>Standard Delivery DO</th>
                            <th>Pick up domestic zgl</th>
                            <th style="min-width:200px;">DateTimePick up eksport sm zgl</th>
                            <th style="min-width:200px;">Samochod z winda dostepny w standardzie</th>

                            <th>Diplomat next day</th>
                            <th>Serwis podmiejski</th>
                            <th>Pick up domestic czas</th>
                            <th>Pick up eksport sm czas</th>
                            <th>Serwis miejski</th>

                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let serviceTnt of servicesTnt | productFilter : listFilter">
                            <td >
                                <a [routerLink]="['/serviceTnt',serviceTnt.productId]">
                                    {{serviceTnt.depot_code_1a}}
                                </a>
                            </td>
                            <td style="min-width:350px;max-width:350px;">{{serviceTnt.town}}</td>
                            <td>{{serviceTnt.from_postcode | lowercase}}</td>
                            <td>{{serviceTnt.to_postcode}}</td>
                            <td><input type="checkbox" [checked]="serviceTnt.sobota" disabled /></td>

                            <td><input type="checkbox" [checked]="serviceTnt.ex9" /></td>
                            <td><input type="checkbox" [checked]="serviceTnt.ex10" /></td>
                            <td><input type="checkbox" [checked]="serviceTnt.ex12" /></td>
                            <td>{{serviceTnt.priority}}</td>
                            <td><input type="checkbox" [checked]="serviceTnt.wieczorne_dostarczenie" disabled/></td>

                            <td>{{serviceTnt.standard_selivery_od}}</td>
                            <td>{{serviceTnt.standard_delivery_do}}</td>
                            <td>{{serviceTnt.sick_up_domestic_zgl}}</td>
                            <td style="min-width:200px;">{{serviceTnt.datetimepick_up_eksport_sm_zgl}}</td>
                            <td style="min-width:200px;"><input type="checkbox" [checked]="serviceTnt.samochod_z_winda_dostepny_w_standardzie" disabled/></td>

                            <td>{{serviceTnt.diplomat_next_day}}</td>
                            <td><input type="checkbox" [checked]="serviceTnt.serwis_podmiejski" disabled/></td>
                            <td>{{serviceTnt.pick_up_domestic_zgl}}</td>
                            <td>{{serviceTnt.pick_up_eksport_sm_czas}}</td>
                            <td><input type="checkbox" [checked]="serviceTnt.serwis_miejski" disabled /></td>



                        </tr>
                    </tbody>

                </table>

            </div>
        </div>
        <page-app *ngIf='servicesTnt && servicesTnt.length && paging.pageSize>1'
                  [totalCount]='paging.totalCount'
                  [pageSize]='paging.pageSize'
                  (pageClicked)='onPageClicked($event)'>
        </page-app>
    </div>
    <!--<div class="panel-footer" style="max-height:0px;">-->

</div>
