
.tablecontainer {
    width: 100%;
    overflow: hidden;
    height:83%;
}

.table-responsive {
    border-radius: 5px 5px 0 0;
    border: 1px solid slategrey;
}


th, td {
    min-width: 110px;
    width: 110px;
}

.sm-small-break-th{
     width: 80px; min-width: 80px; white-space:pre;
}
.sm-small-break-td{
     width: 80px; min-width: 80px;
}

.sm-large-with {
     min-width: 190px;
}

.sm-last-th-with {
    min-width:208px; 
}
.sm-break-th {
    min-width:120px; width:120px; white-space:pre;
}
.sm-break-td {
    min-width:120px; width:120px;
}

/*@font-face {
  font-family: 'FontAwesome';
  src: url("font-awesome/fonts/fontawesome-webfont.eot?v=4.7.0");
  src: url("font-awesome/fonts/font-awesome/fontawesome-webfont.eot?v=4.7.0#iefix") format("embedded-opentype"), url("font-awesome/fonts/fontawesome-webfont.woff2?v=4.7.0") format("woff2"), url("../fonts/font-awesome/fontawesome-webfont.woff?v=4.7.0") format("woff"), url("../fonts/font-awesome/fontawesome-webfont.ttf?v=4.7.0") format("truetype"), url("../fonts/font-awesome/fontawesome-webfont.svg?v=4.7.0#fontawesomeregular") format("svg");
  font-weight: normal;
  font-style: normal; }*/

/*@import 'color';
@import 'font';*/
.container-in-form-psz {
    /*background:$background-container-psz;
    color:$text-color-container-psz;
    border: 1px solid $color-container-psz;*/
	background:#1367AD none repeat scroll 0 0;
	color: #FFF;
	 border: 1px solid #666666;
    padding: 10px;
    top: 20px;
    margin-left: 0 !important;
    margin-right: 0 !important;
    margin-bottom: 15px;
    position: static;
}
