
<div class="panel panel-primary">
    <div class="panel-heading">
        {{pageTitle}}
    </div>
    <div class="panel-body">
        <div class="row">
            <label class="col-md-1 control-label">Name:</label>
            <div class="col-md-3">Zdzisiek</div>
            <label class="col-md-1 control-label">Name:</label>
            <div class="col-md-3">Zdzisiek</div>
        </div>
        <div class="row">
            <label class="col-md-1 control-label">Name:</label>
            <div class="col-md-3">Zdzisiek</div>
        </div>
        <div class="row">
            <label class="col-md-1 control-label">Name:</label>
            <div class="col-md-3">Zdzisiek</div>
        </div>
        <div class="row">
            <label class="col-md-1 control-label">Name:</label>
            <div class="col-md-3">Zdzisiek</div>
        </div>
        <div class="row">
            <label class="col-md-1 control-label">Name:</label>
            <div class="col-md-3">Zdzisiek</div>
        </div>
        <div class="row">
            <label class="col-md-1 control-label">Name:</label>
            <div class="col-md-3">Zdzisiek</div>
        </div>
        <div class="row">
            <label class="col-md-1 control-label">Name:</label>
            <div class="col-md-3">Zdzisiek</div>
        </div>
    </div>
</div>
  
